form {
  background-color: #daecff;
  height: 100px;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
}


textarea {
  height: 50px;
  border-radius: 5px;
}

button {
  height: 30px;
}

